.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.welcome {
}
.gr-username {
    margin-right: 10px;
    font-size: 10px;
}
.username {
    font-size: 12px;
    font-weight: bold;
}
